{% csrf_token %}
<!-- Обработчик формы siteList -->
<script>
    $(document).ready(function() {
        $('#sitelist_form').submit(function(e) {
          //отмена действия по умолчанию для кнопки submit
          e.preventDefault();
          let $form = $('sitelist_form'),
          sitelist_checkBox_myfin = $('#sitelist_form input[name=sitelist_checkBox_myfin]').is(':checked'),
          sitelist_checkBox_kucoin = $('#sitelist_form input[name=sitelist_checkBox_kucoin]').is(':checked'),
          sitelist_checkBox_coinbase = $('#sitelist_form input[name=sitelist_checkBox_coinbase]').is(':checked'),
          sitelist_checkBox_huobi = $('#sitelist_form input[name=sitelist_checkBox_huobi]').is(':checked');
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            //data:  $('#sitelist_form').serialize(),
            data: {
                'sitelist_checkBox_myfin': sitelist_checkBox_myfin,
                'sitelist_checkBox_kucoin': sitelist_checkBox_kucoin,
                'sitelist_checkBox_coinbase': sitelist_checkBox_coinbase,
                'sitelist_checkBox_huobi': sitelist_checkBox_huobi,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              //var dat = Object.entries(response.Success).join('\n');
              var dat = response.Success
              //alert(dat);
              $('#u29_p').append('<span id="u29_s"></span>');
              $('#u29_s').text(dat);
              //$('#table-cell').text(Object.entries(response.mainpage_data).join('\n'))
              //console.log('Пиздец!!')
            },
        });
      });
    });
</script>

<!-- Обработчик checkBox ВКЛЮЧЕНИЕ ТЕЛЕГРАММ БОТА -->
<script>
    $(document).ready(function() {
        $('#u91_input').click(function() {
          var settings_checkBox_telegramBot = $('#u91_input[name=settings_checkBox_telegramBot]').is(':checked');
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'settings_checkBox_telegramBot': settings_checkBox_telegramBot,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u29_p').append('<span id="u29_s"></span>');
              $('#u29_s').text(dat);
            },
        });
      });
    });
</script>

<!-- Обработчик checkBox ЦИКЛИЧЕСКОЕ ОБНОВЛЕНИЕ -->
<script>
    $(document).ready(function() {
        $('#u94_input').click(function() {
          var settings_checkBox_autoRefresh = $('#u94_input[name=settings_checkBox_autoRefresh]').is(':checked');
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'settings_checkBox_autoRefresh': settings_checkBox_autoRefresh,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u29_p').append('<span id="u29_s"></span>');
              $('#u29_s').text(dat);
            },
        });
      });
    });
</script>

<!-- Обработчик checkBox ОТОБРАЖАТЬ ВСЕ КОТИРОВКИ-->
<script>
    $(document).ready(function() {
        $('#u108_input').click(function() {
          var settings_checkBox_allQuotationView = $('#u108_input[name=settings_checkBox_allQuotationView]').is(':checked');
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'settings_checkBox_allQuotationView': settings_checkBox_allQuotationView,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u29_p').append('<span id="u29_s"></span>');
              $('#u29_s').text(dat);
            },
        });
      });
    });
</script>

<!-- Обработчик dropList КОТИРУЕМАЯ ВАЛЮТА-->
<script>
    $(document).ready(function() {
        $('#u99_input').change(function() {
          var settings_droplist_quotCoinInfo = $('#u99_input[name=settings_droplist_quotCoinInfo]').val();
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'settings_droplist_quotCoinInfo': settings_droplist_quotCoinInfo,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u29_p').append('<span id="u29_s"></span>');
              $('#u29_s').text(dat);
            },
        });
      });
    });
</script>

<!-- Обработчик dropList БАЗОВАЯ ВАЛЮТА-->
<script>
    $(document).ready(function() {
        $('#u100_input').change(function() {
          var settings_droplist_baseCoinInfo = $('#u100_input[name=settings_droplist_baseCoinInfo]').val();
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'settings_droplist_baseCoinInfo': settings_droplist_baseCoinInfo,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u29_p').append('<span id="u29_s"></span>');
              $('#u29_s').text(dat);
            },
        });
      });
    });
</script>

<!-- Обработчик button ВВЕСТИ КЛЮЧИ API-->
<script>
    $(document).ready(function() {
        $('#APIkeysInput-button').click(function() {
          $('.keys-input-modal-overlay').css({'visibility': 'visible', 'opacity': 1});
		  $('.keys-input-modal-modal').css({'visibility': 'visible', 'opacity': 1});
        };
    });
</script>

