{% csrf_token %}
<!-- Обработчик формы siteList -->
<script>
    $(document).ready(function() {
        $('#sitelist_form').submit(function(e) {
          //отмена действия по умолчанию для кнопки submit
          e.preventDefault();
          let $form = $('sitelist_form'),
          sitelist_checkBox_myfin = $('#sitelist_form input[name=sitelist_checkBox_myfin]').is(':checked'),
          sitelist_checkBox_kucoin = $('#sitelist_form input[name=sitelist_checkBox_kucoin]').is(':checked'),
          sitelist_checkBox_coinbase = $('#sitelist_form input[name=sitelist_checkBox_coinbase]').is(':checked'),
          sitelist_checkBox_huobi = $('#sitelist_form input[name=sitelist_checkBox_huobi]').is(':checked');
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            //data:  $('#sitelist_form').serialize(),
            data: {
                'sitelist_checkBox_myfin': sitelist_checkBox_myfin,
                'sitelist_checkBox_kucoin': sitelist_checkBox_kucoin,
                'sitelist_checkBox_coinbase': sitelist_checkBox_coinbase,
                'sitelist_checkBox_huobi': sitelist_checkBox_huobi,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              //var dat = Object.entries(response.Success).join('\n');
              var dat = response.Success
              //alert(dat);
              $('#u39_p').append('<span id="u39_s"></span>');
              $('#u39_s').text(dat);
              //$('#table-cell').text(Object.entries(response.mainpage_data).join('\n'))
            },
        });
      });
    });
</script>

<!-- Обработчик checkBox ВКЛЮЧЕНИЕ ТЕЛЕГРАММ БОТА -->
<script>
    $(document).ready(function() {
        $('#u101_input').click(function() {
          var settings_checkBox_telegramBot = $('#u101_input[name=settings_checkBox_telegramBot]').is(':checked');
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'settings_checkBox_telegramBot': settings_checkBox_telegramBot,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u39_p').append('<span id="u39_s"></span>');
              $('#u39_s').text(dat);
            },
        });
      });
    });
</script>

<!-- Обработчик checkBox ЦИКЛИЧЕСКОЕ ОБНОВЛЕНИЕ -->
<script>
    $(document).ready(function() {
        $('#u104_input').click(function() {
          var settings_checkBox_autoRefresh = $('#u104_input[name=settings_checkBox_autoRefresh]').is(':checked');
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'settings_checkBox_autoRefresh': settings_checkBox_autoRefresh,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u39_p').append('<span id="u39_s"></span>');
              $('#u39_s').text(dat);
            },
        });
      });
    });
</script>

<!-- Обработчик checkBox ОТОБРАЖАТЬ ВСЕ КОТИРОВКИ-->
<script>
    $(document).ready(function() {
        $('#u118_input').click(function() {
          var settings_checkBox_allQuotationView = $('#u118_input[name=settings_checkBox_allQuotationView]').is(':checked');
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'settings_checkBox_allQuotationView': settings_checkBox_allQuotationView,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u39_p').append('<span id="u39_s"></span>');
              $('#u39_s').text(dat);
            },
        });
      });
    });
</script>

<!-- Обработчик dropList КОТИРУЕМАЯ ВАЛЮТА-->
<script>
    $(document).ready(function() {
        $('#u109_input').change(function() {
          var settings_droplist_quotCoin = $('#u109_input[name=settings_droplist_quotCoin]').val();
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'settings_droplist_quotCoin': settings_droplist_quotCoin,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u39_p').append('<span id="u39_s"></span>');
              $('#u39_s').text(dat);
            },
        });
      });
    });
</script>

<!-- Обработчик dropList БАЗОВАЯ ВАЛЮТА-->
<script>
    $(document).ready(function() {
        $('#u110_input').change(function() {
          var settings_droplist_baseCoin = $('#u110_input[name=settings_droplist_baseCoin]').val();
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'settings_droplist_baseCoin': settings_droplist_baseCoin,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u39_p').append('<span id="u39_s"></span>');
              $('#u39_s').text(dat);
            },
        });
      });
    });
</script>

<!-- Обработчики textInput ПОИСК ПО НАЗВАНИЮ КОТИРУЕМОЙ ВАЛЮТЫ -->
<!-- ПОИСК -->
<script>
    $(document).ready(function() {
        $('#settings_quotCoinSearch-button').click(function() {
          var settings_textInp_quotCoinSearch = $('#u112 input[name=settings_textInp_quotCoinSearch]').val();
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'settings_textInp_quotCoinSearch': settings_textInp_quotCoinSearch,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u39_p').append('<span id="u39_s"></span>');
              $('#u39_s').text(dat);
            },
        });
      });
    });
</script>

<!-- ДОБАВИТЬ -->
<script>
    $(document).ready(function() {
        $('#settings_quotCoinAdd-button').click(function() {
          var settings_textInp_quotCoinAdd = $('#u112 input[name=settings_textInp_quotCoinSearch]').val();
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'settings_textInp_quotCoinAdd': settings_textInp_quotCoinAdd,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u39_p').append('<span id="u39_s"></span>');
              $('#u39_s').text(dat);
            },
        });
      });
    });
</script>

<!-- УДАЛИТЬ -->
<script>
    $(document).ready(function() {
        $('#settings_quotCoinDelete-button').click(function() {
          var settings_textInp_quotCoinDelete = $('#u112 input[name=settings_textInp_quotCoinSearch]').val();
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'settings_textInp_quotCoinDelete': settings_textInp_quotCoinDelete,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u39_p').append('<span id="u39_s"></span>');
              $('#u39_s').text(dat);
            },
        });
      });
    });
</script>

<!-- Обработчик button УСТАНОВИТЬ время обновления парсеров-->
<script>
    $(document).ready(function() {
        $('#settings_applyParsRefreshTime_button').click(function() {
          var settings_spinBox_parsRefreshTime = $('#u155 input[name=settings_spinBox_parsRefreshTime]').val();
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'settings_spinBox_parsRefreshTime': settings_spinBox_parsRefreshTime,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u39_p').append('<span id="u39_s"></span>');
              $('#u39_s').text(dat);
            },
        });
      });
    });
</script>

<!-- панель НАСТРОЙКИ АВТОМАТИЧЕСКОЙ ТОРГОВЛИ -->

<!-- Обработчик button АВТОМАТИЧЕСКАЯ ТОРГОВЛЯ - РАЗМЕСТИТЬ ОРДЕР -->
<script>
    $(document).ready(function() {
        $('#autoTradeSettings_button_placeOrder').click(function() {
          var autoTradeSettings_dropList_exchangeType = $('#u102_input[name=autoTradeSettings_dropList_exchangeType]').val(),
            autoTradeSettings_dropList_dealType = $('#u121_input[name=autoTradeSettings_dropList_dealType]').val(),
            autoTradeSettings_dropList_orderType = $('#u123_input[name=autoTradeSettings_dropList_orderType]').val(),
            autoTradeSettings_dropList_tradeQuotCoin = $('#u125_input[name=autoTradeSettings_dropList_tradeQuotCoin]').val(),
            autoTradeSettings_dropList_tradeBaseCoin = $('#u127_input[name=autoTradeSettings_dropList_tradeBaseCoin]').val(),
            autoTradeSettings_spinBox_buyAmount = $('#u131_input[name=autoTradeSettings_spinBox_buyAmount]').val(),
            autoTradeSettings_spinBox_currencyPrice = $('#u140_input[name=autoTradeSettings_spinBox_currencyPrice]').val();
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'autoTradeSettings_dropList_exchangeType': autoTradeSettings_dropList_exchangeType,
                'autoTradeSettings_dropList_dealType': autoTradeSettings_dropList_dealType,
                'autoTradeSettings_dropList_orderType': autoTradeSettings_dropList_orderType,
                'autoTradeSettings_dropList_tradeQuotCoin': autoTradeSettings_dropList_tradeQuotCoin,
                'autoTradeSettings_dropList_tradeBaseCoin': autoTradeSettings_dropList_tradeBaseCoin,
                'autoTradeSettings_spinBox_buyAmount': autoTradeSettings_spinBox_buyAmount,
                'autoTradeSettings_spinBox_currencyPrice': autoTradeSettings_spinBox_currencyPrice,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u39_p').append('<span id="u39_s"></span>');
              $('#u39_s').text(dat);
            },
        });
      });
    });
</script>

<!-- Обработчик checkBox АВТОМАТИЧЕСКАЯ ТОРГОВЛЯ - ВКЛЮЧИТЬ ИМИТАЦИЮ ТОРГОВЛИ -->
<script>
    $(document).ready(function() {
        $('#u147_input').click(function() {
          var autoTradeSettings_checkBox_enableImitatitonTrade = $('#u147_input[name=autoTradeSettings_checkBox_enableImitatitonTrade]').is(':checked');
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'autoTradeSettings_checkBox_enableImitatitonTrade': autoTradeSettings_checkBox_enableImitatitonTrade,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u39_p').append('<span id="u39_s"></span>');
              $('#u39_s').text(dat);
            },
        });
      });
    });
</script>

<!-- модальное окно APIkeys_input_window -->
<script>
    $(document).ready(function() {
        $('#u6').click(function() {
          var APIkeysInputWindow_dropList_exchangeType = $('#u9 input[name=APIkeysInputWindow_dropList_exchangeType]').val(),
              APIkeysInputWindow_textInp_apiKeyInput = $('#u2 input[name=APIkeysInputWindow_textInp_apiKeyInput]').val(),
              APIkeysInputWindow_textInp_secretKeyInput = $('#u3 input[name=APIkeysInputWindow_textInp_secretKeyInput]').val();
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'APIkeysInputWindow_dropList_exchangeType': APIkeysInputWindow_dropList_exchangeType,
                'APIkeysInputWindow_textInp_apiKeyInput': APIkeysInputWindow_textInp_apiKeyInput,
                'APIkeysInputWindow_textInp_secretKeyInput': APIkeysInputWindow_textInp_secretKeyInput,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function () {
             if (this.data.APIkeysInputWindow_textInp_apiKeyInput != '' && this.data.APIkeysInputWindow_textInp_secretKeyInput != '') {
                $('#u102_input').prop('disabled', false);
                document.getElementById('u102').style.opacity = "1";
                document.getElementById('u120').style.opacity = "1";
                $('#u121_input').prop('disabled', false);
                document.getElementById('u121').style.opacity = "1";
                document.getElementById('u122').style.opacity = "1";
                $('#u123_input').prop('disabled', false);
                document.getElementById('u123').style.opacity = "1";
                document.getElementById('u124').style.opacity = "1";
                $('#u125_input').prop('disabled', false);
                document.getElementById('u125').style.opacity = "1";
                document.getElementById('u126').style.opacity = "1";
                $('#u127_input').prop('disabled', false);
                document.getElementById('u127').style.opacity = "1";
                document.getElementById('u128').style.opacity = "1";
                $('#u131').prop('disabled', false);
                $('#u131_div').prop('disabled', false);
                $('#u131_input').prop('disabled', false);
                document.getElementById('u131').style.opacity = "1";

                $('#u132').setPanelState('disabled', false)
                $('#u134').prop('disabled', false);
                $('#u134_img').prop('disabled', false);
                document.getElementById('u133').style.opacity = "1";
                $('#u135').prop('disabled', false);

             }
            },
        });
      });
    });
</script>
