{% csrf_token %}
<!-- Обработчик формы siteList -->
<script>
    $(document).ready(function() {
        $('#sitelist_form').submit(function(e) {
          //отмена действия по умолчанию для кнопки submit
          e.preventDefault();
          let $form = $('sitelist_form'),
          sitelist_checkBox_myfin = $('#sitelist_form input[name=sitelist_checkBox_myfin]').is(':checked'),
          sitelist_checkBox_kucoin = $('#sitelist_form input[name=sitelist_checkBox_kucoin]').is(':checked'),
          sitelist_checkBox_coinbase = $('#sitelist_form input[name=sitelist_checkBox_coinbase]').is(':checked'),
          sitelist_checkBox_huobi = $('#sitelist_form input[name=sitelist_checkBox_huobi]').is(':checked'),
          settings_checkBox_autoRefresh = $('#u389_input[name=settings_checkBox_autoRefresh]').is(':checked'),
          settings_dropList_quotCoin = $('#u394_input[name=settings_dropList_quotCoin]').val(),
          settings_dropList_baseCoin = $('#u395_input[name=settings_dropList_baseCoin]').val(),
          settings_textInp_parsRefreshTime = $('#u432_input[name=settings_textInp_parsRefreshTime]').val(),
          settings_checkBox_viewAllquotations = $('#u403_input[name=settings_checkBox_viewAllquotations]').is(':checked');
          $.ajax({
            type: 'POST',
            url: '/api/v1/get_quot_info/',
            //data:  $('#sitelist_form').serialize(),
            data: {
                'sitelist_checkBox_myfin': sitelist_checkBox_myfin,
                'sitelist_checkBox_kucoin': sitelist_checkBox_kucoin,
                'sitelist_checkBox_coinbase': sitelist_checkBox_coinbase,
                'sitelist_checkBox_huobi': sitelist_checkBox_huobi,
                'settings_checkBox_autoRefresh': settings_checkBox_autoRefresh,
                'settings_dropList_quotCoin': settings_dropList_quotCoin,
                'settings_dropList_baseCoin': settings_dropList_baseCoin,
                'settings_textInp_parsRefreshTime': settings_textInp_parsRefreshTime,
                'settings_checkBox_viewAllquotations': settings_checkBox_viewAllquotations,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
                let dataForRender = response.parsData,
                k = 0,
                cellNum = 0,
                table = document.querySelector('#u320'),
                tableCells = table.querySelectorAll('div[class="ax_default table_cell"]');
                for (let i=0; i<dataForRender.length; i++) {
                  let
                  exData = dataForRender[i];
                  if (settings_checkBox_viewAllquotations == false) {
                        cellNum+=3;
                        tableCells[cellNum].querySelector('p').innerHTML = `<span></span>`;
                        tableCells[cellNum].querySelector('span').innerText = exData.exchange;
                        tableCells[cellNum+1].querySelector('p').innerHTML = `<span></span>`;
                        tableCells[cellNum+1].querySelector('span').innerText = settings_dropList_quotCoin + '/' + exData.currency;
                        tableCells[cellNum+2].querySelector('p').innerHTML = `<span></span>`;
                        tableCells[cellNum+2].querySelector('span').innerText = exData.rates[settings_dropList_quotCoin];
                  } else {
                          for (let j in exData.rates) {
                              for (let cellNum=3; cellNum<tableCells.length; cellNum+=3) {
                                if (k>tableCells.length) {return};
                                k += 1;
                                tableCells[cellNum].querySelector('p').innerHTML = `<span></span>`;
                                tableCells[cellNum].querySelector('span').innerText = exData.exchange;
                                tableCells[cellNum+1].querySelector('p').innerHTML = `<span></span>`;
                                tableCells[cellNum+1].querySelector('span').innerText = exData.currency;
                                tableCells[cellNum+2].querySelector('p').innerHTML = `<span></span>`;
                                tableCells[cellNum+2].querySelector('span').innerText = exData.rates[j];
                              }
                          }
                     }
                }
                if (cellNum+3 < tableCells.length) {
                    for (let i=cellNum+3; i<tableCells.length; i++) {
                        tableCells[i].querySelector('p').innerHTML = `<span></span>`;
                        tableCells[i].querySelector('span').innerText = '';
                    }
                }
            }
        });
      });
    });
</script>

<!-- Обработчик checkBox ВКЛЮЧЕНИЕ ТЕЛЕГРАММ БОТА -->
<script>
    $(document).ready(function() {
        $('#u386_input').click(function() {
          var settings_checkBox_tgBotOn = $('#u386_input[name=settings_checkBox_tgBotOn]').is(':checked');
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'settings_checkBox_tgBotOn': settings_checkBox_tgBotOn,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u324_p').append('<span id="u324_s"></span>');
              $('#u324_s').text(dat);
            },
        });
      });
    });
</script>

<!-- Обработчик checkBox ЦИКЛИЧЕСКОЕ ОБНОВЛЕНИЕ -->
<script>
    $(document).ready(function() {
        $('#u389_input').click(function() {
          var settings_checkBox_autoRefresh = $('#u389_input[name=settings_checkBox_autoRefresh]').is(':checked');
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'settings_checkBox_autoRefresh': settings_checkBox_autoRefresh,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u324_p').append('<span id="u324_s"></span>');
              $('#u324_s').text(dat);
            },
        });
      });
    });
</script>

<!-- Обработчик checkBox ОТОБРАЖАТЬ ВСЕ КОТИРОВКИ-->
<script>
    $(document).ready(function() {
        $('#u403_input').click(function() {
          var settings_checkBox_viewAllquotations = $('#u403_input[name=settings_checkBox_viewAllquotations]').is(':checked');
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'settings_checkBox_viewAllquotations': settings_checkBox_viewAllquotations,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u324_p').append('<span id="u324_s"></span>');
              $('#u324_s').text(dat);
            },
        });
      });
    });
</script>

<!-- Обработчик dropList КОТИРУЕМАЯ ВАЛЮТА-->
<script>
    $(document).ready(function() {
        $('#u394_input').change(function() {
          var settings_droplist_quotCoin = $('#u394_input[name=settings_droplist_quotCoin]').val();
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'settings_droplist_quotCoin': settings_droplist_quotCoin,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u324_p').append('<span id="u324_s"></span>');
              $('#u324_s').text(dat);
            },
        });
      });
    });
</script>

<!-- Обработчик dropList БАЗОВАЯ ВАЛЮТА-->
<script>
    $(document).ready(function() {
        $('#u395_input').change(function() {
          var settings_dropList_baseCoin = $('#u395_input[name=settings_dropList_baseCoin]').val();
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'settings_dropList_baseCoin': settings_dropList_baseCoin,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u324_p').append('<span id="u324_s"></span>');
              $('#u324_s').text(dat);
            },
        });
      });
    });
</script>

<!-- Обработчики textInput ПОИСК ПО НАЗВАНИЮ КОТИРУЕМОЙ ВАЛЮТЫ -->
<!-- ПОИСК -->
<script>
    $(document).ready(function() {
        $('#u399').click(function() {
          var settings_textInp_quotCoinSearch = $('#397 input[name=settings_textInp_quotCoinSearch]').val();
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'settings_textInp_quotCoinSearch': settings_textInp_quotCoinSearch,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u324_p').append('<span id="u324_s"></span>');
              $('#u324_s').text(dat);
            },
        });
      });
    });
</script>

<!-- ДОБАВИТЬ -->
<script>
    $(document).ready(function() {
        $('#u400').click(function() {
          var settings_textInp_quotCoinAdd = $('#u397 input[name=settings_textInp_quotCoinSearch]').val();
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'settings_textInp_quotCoinAdd': settings_textInp_quotCoinAdd,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u324_p').append('<span id="u324_s"></span>');
              $('#u324_s').text(dat);
            },
        });
      });
    });
</script>

<!-- УДАЛИТЬ -->
<script>
    $(document).ready(function() {
        $('#u401').click(function() {
          var settings_textInp_quotCoinDelete = $('#u397 input[name=settings_textInp_quotCoinSearch]').val();
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'settings_textInp_quotCoinDelete': settings_textInp_quotCoinDelete,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u324_p').append('<span id="u324_s"></span>');
              $('#u324_s').text(dat);
            },
        });
      });
    });
</script>

<!-- Обработчик button УСТАНОВИТЬ время обновления парсеров-->
<script>
    $(document).ready(function() {
        $('#settings_button_EnableRefreshTime').click(function() {
          var settings_textInp_parsRefreshTime = $('#u432 input[name=settings_textInp_parsRefreshTime]').val();
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'settings_textInp_parsRefreshTime': settings_textInp_parsRefreshTime,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u324_p').append('<span id="u324_s"></span>');
              $('#u324_s').text(dat);
            },
        });
      });
    });
</script>

<!-- панель НАСТРОЙКИ АВТОМАТИЧЕСКОЙ ТОРГОВЛИ -->

<!-- Обработчик button АВТОМАТИЧЕСКАЯ ТОРГОВЛЯ - РАЗМЕСТИТЬ ОРДЕР -->
<script>
    $(document).ready(function() {
        $('#autoTradeSettings_button_placeOrder').click(function() {
          var autoTradeSettings_dropList_exchangeType = $('#u387_input[name=autoTradeSettings_dropList_exchangeType]').val(),
            autoTradeSettings_dropList_dealType = $('#u406_input[name=autoTradeSettings_dropList_dealType]').val(),
            autoTradeSettings_dropList_orderType = $('#u408_input[name=autoTradeSettings_dropList_orderType]').val(),
            autoTradeSettings_dropList_tradeQuotCoin = $('#u410_input[name=autoTradeSettings_dropList_tradeQuotCoin]').val(),
            autoTradeSettings_dropList_tradeBaseCoin = $('#u412_input[name=autoTradeSettings_dropList_tradeBaseCoin]').val(),
            autoTradeSettings_spinBox_buyAmount = $('#u416_input[name=autoTradeSettings_spinBox_buyAmount]').val(),
            autoTradeSettings_spinBox_currencyPrice = $('#u440_input[name=autoTradeSettings_spinBox_currencyPrice]').val();
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'autoTradeSettings_dropList_exchangeType': autoTradeSettings_dropList_exchangeType,
                'autoTradeSettings_dropList_dealType': autoTradeSettings_dropList_dealType,
                'autoTradeSettings_dropList_orderType': autoTradeSettings_dropList_orderType,
                'autoTradeSettings_dropList_tradeQuotCoin': autoTradeSettings_dropList_tradeQuotCoin,
                'autoTradeSettings_dropList_tradeBaseCoin': autoTradeSettings_dropList_tradeBaseCoin,
                'autoTradeSettings_spinBox_buyAmount': autoTradeSettings_spinBox_buyAmount,
                'autoTradeSettings_spinBox_currencyPrice': autoTradeSettings_spinBox_currencyPrice,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u324_p').append('<span id="u324_s"></span>');
              $('#u324_s').text(dat);
            },
        });
      });
    });
</script>

<!-- Обработчик button АВТОМАТИЧЕСКАЯ ТОРГОВЛЯ - ЗАГРУЗИТЬ ИСТОРИЮ ОРДЕРОВ -->
<script>
    $(document).ready(function() {
        $('#autoTradeSettings_button_getOpenOrdersInfo').click(function() {
          var autoTradeSettings_dropList_exchangeType = $('#u387_input[name=autoTradeSettings_dropList_exchangeType]').val();
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'autoTradeSettings_dropList_exchangeType': autoTradeSettings_dropList_exchangeType,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u324_p').append('<span id="u324_s"></span>');
              $('#u324_s').text(dat);
            },
        });
      });
    });
</script>

<!-- Обработчик button АВТОМАТИЧЕСКАЯ ТОРГОВЛЯ - ОТМЕНИТЬ ОРДЕР -->
<script>
    $(document).ready(function() {
        $('#autoTradeSettings_button_cancelOrder').click(function() {
          var mainwindow_order = $('#u387_input[name=autoTradeSettings_dropList_exchangeType]').val();
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'autoTradeSettings_dropList_exchangeType': autoTradeSettings_dropList_exchangeType,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u324_p').append('<span id="u324_s"></span>');
              $('#u324_s').text(dat);
            },
        });
      });
    });
</script>

<!-- Обработчик checkBox АВТОМАТИЧЕСКАЯ ТОРГОВЛЯ - ВКЛЮЧИТЬ ИМИТАЦИЮ ТОРГОВЛИ -->
<script>
    $(document).ready(function() {
        $('#u424_input').click(function() {
          var autoTradeSettings_checkBox_enableImitatitonTrade = $('#u424_input[name=autoTradeSettings_checkBox_enableImitatitonTrade]').is(':checked');
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'autoTradeSettings_checkBox_enableImitatitonTrade': autoTradeSettings_checkBox_enableImitatitonTrade,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              var dat = response.Success;
              $('#u324_p').append('<span id="u324_s"></span>');
              $('#u324_s').text(dat);
            },
        });
      });
    });
</script>

<!-- модальное окно APIkeys_input_window -->
<script>
    $(document).ready(function() {
        $('#u291').click(function() {
          var APIkeysInputWindow_dropList_exchangeType = $('#u294 input[name=APIkeysInputWindow_dropList_exchangeType]').val(),
              APIkeysInputWindow_textInp_apiKeyInput = $('#u287 input[name=APIkeysInputWindow_textInp_apiKeyInput]').val(),
              APIkeysInputWindow_textInp_secretKeyInput = $('#u288 input[name=APIkeysInputWindow_textInp_secretKeyInput]').val();
          $.ajax({
            type: 'POST',
            url: '/api/v1/states/',
            data: {
                'APIkeysInputWindow_dropList_exchangeType': APIkeysInputWindow_dropList_exchangeType,
                'APIkeysInputWindow_textInp_apiKeyInput': APIkeysInputWindow_textInp_apiKeyInput,
                'APIkeysInputWindow_textInp_secretKeyInput': APIkeysInputWindow_textInp_secretKeyInput,
        },
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function () {
             if (this.data.APIkeysInputWindow_textInp_apiKeyInput != '' && this.data.APIkeysInputWindow_textInp_secretKeyInput != '') {
                $('#u387_input').prop('disabled', false);
                document.getElementById('u387').style.opacity = "1";
                document.getElementById('u405').style.opacity = "1";
                $('#u406_input').prop('disabled', false);
                document.getElementById('u406').style.opacity = "1";
                document.getElementById('u407').style.opacity = "1";
                $('#u408_input').prop('disabled', false);
                document.getElementById('u408').style.opacity = "1";
                document.getElementById('u409').style.opacity = "1";
                $('#u410_input').prop('disabled', false);
                document.getElementById('u410').style.opacity = "1";
                document.getElementById('u414').style.opacity = "1";
                $('#u412_input').prop('disabled', false);
                document.getElementById('u412').style.opacity = "1";
                document.getElementById('u413').style.opacity = "1";
                document.getElementById('u411').style.opacity = "1";
                document.getElementById('u423').style.opacity = "1";

             }
            },
        });
      });
    });
</script>
