<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>MainWindow</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{% static 'app_mainpage/resources/css/axure_rp_page.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'app_mainpage/data/styles.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'app_mainpage/files/mainwindow/styles.css' %}" type="text/css" rel="stylesheet"/>
    <script src="{% static 'app_mainpage/resources/scripts/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/axQuery.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/globals.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axutils.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/annotation.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/axQuery.std.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/doc.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/messagecenter.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/events.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/recording.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/action.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/expr.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/geometry.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/flyout.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/model.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/repeater.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/sto.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/utils.temp.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/variables.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/drag.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/move.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/visibility.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/style.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/adaptive.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/tree.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/init.temp.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/legacy.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/viewer.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/math.js' %}"></script>
    <script src="{% static 'app_mainpage/resources/scripts/axure/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'app_mainpage/data/document.js' %}"></script>
    <script src="{% static 'app_mainpage/files/mainwindow/data.js' %}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return "{% static 'app_mainpage/resources/images/transparent.gif' %}"; };
      $axure.utils.getOtherPath = function() { return "{% static 'app_mainpage/resources/Other.html' %}"; };
      $axure.utils.getReloadPath = function() { return "{% static 'app_mainpage/resources/reload.html' %}"; };
    </script>

      <!-- Обработчик форм -->
    {% include "AJAX.html" %}
  </head>
  <body>
    <div id="base" class="">

      <!-- APIkeys_input_window (Group) -->
      <div id="u0" class="ax_default ax_default_hidden" data-label="APIkeys_input_window" style="display:none; visibility: hidden" data-left="321" data-top="174" data-width="580" data-height="227">

        <!-- Unnamed (Rectangle) -->
        <div id="u1" class="ax_default box_1">
          <img id="u1_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u1.svg' %}"/>
          <div id="u1_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u2" class="ax_default text_field">
          <div id="u2_div" class=""></div>
          <input id="u2_input" type="text" value="" class="u2_input" name="APIkeysInputWindow_textInp_apiKeyInput" />
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u3" class="ax_default text_field">
          <div id="u3_div" class=""></div>
          <input id="u3_input" type="text" value="" class="u3_input" name="APIkeysInputWindow_textInp_secretKeyInput" />
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u4" class="ax_default label">
          <div id="u4_div" class=""></div>
          <div id="u4_text" class="text ">
            <p><span>API key</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u5" class="ax_default label">
          <div id="u5_div" class=""></div>
          <div id="u5_text" class="text ">
            <p><span>Secret key</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6" class="ax_default button" style="cursor: pointer;">
          <div id="u6_div" class=""></div>
          <div id="u6_text" class="text ">
            <p><span>Сохранить</span></p>
          </div>
        </div>



        <!-- Unnamed (Rectangle) -->
        <div id="u7" class="ax_default label">
          <div id="u7_div" class=""></div>
          <div id="u7_text" class="text ">
            <p><span>Криптобиржа</span></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u8" class="ax_default icon">
          <img id="u8_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u8.svg' %}"/>
          <div id="u8_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u9" class="ax_default droplist">
          <div id="u9_div" class=""></div>
          <select id="u9_input" class="u9_input" name="APIkeysInputWindow_dropList_exchangeType" >
            <option class="u9_input_option" value="Huobi">Huobi</option>
            <option class="u9_input_option" value="Kucoin">Kucoin</option>
            <option class="u9_input_option" value="Myfin">Myfin</option>
            <option class="u9_input_option" value="Coinbase">Coinbase</option>
          </select>
        </div>
      </div>

      <!-- Unnamed (SideBarR) -->

      <!-- Unnamed (Placeholder) -->
      <div id="u11" class="ax_default placeholder">
        <img id="u11_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u11.svg' %}"/>
        <div id="u11_text" class="text ">
          <p><span>SideBarR</span></p>
        </div>
      </div>
      <div id="u10" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12" class="ax_default box_1">
        <div id="u12_div" class=""></div>
        <div id="u12_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u13" class="ax_default box_1">
        <div id="u13_div" class=""></div>
        <div id="u13_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Header) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u15" class="ax_default box_1">
        <img id="u15_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u15.svg' %}"/>
        <div id="u15_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u16" class="ax_default placeholder">
        <img id="u16_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u16.svg' %}"/>
        <div id="u16_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u17" class="ax_default label">
        <div id="u17_div" class=""></div>
        <div id="u17_text" class="text ">
          <p><span>CryptoMonkey control panel</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u18" class="ax_default primary_button">
        <div id="u18_div" class=""></div>
        <div id="u18_text" class="text ">
          <p><span>Выйти</span></p>
        </div>
      </div>
      <div id="u14" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Footer) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u20" class="ax_default box_1">
        <div id="u20_div" class=""></div>
        <div id="u20_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u19" style="display:none; visibility:hidden;"></div>

      <!-- sitelist (Dynamic Panel) -->
      <div id="u21" class="ax_default" data-label="sitelist">
        <div id="u21_state0" class="panel_state" data-label="State1" style="">
          <div id="u21_state0_content" class="panel_state_content">

            <!-- Unnamed (SideBarL) -->

            <!-- Unnamed (Placeholder) -->
            <div id="u23" class="ax_default placeholder">
              <img id="u23_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u23.svg' %}"/>
              <div id="u23_text" class="text ">
                <p><span>SideBarL</span></p>
              </div>
            </div>
            <div id="u22" style="display:none; visibility:hidden;"></div>
          </div>
        </div>
      </div>

      <!-- sitelist (Rectangle) -->
      <div id="u24" class="ax_default label" data-label="sitelist">
        <img id="u24_img" class="img " src="{% static 'app_mainpage/images/mainwindow/sitelist_u24.svg' %}"/>
        <div id="u24_text" class="text ">
          <p><span>Выбор площадок</span></p>
        </div>
      </div>

      <form method="POST" action="" style="" id="sitelist_form" >
          {% csrf_token %}
          <!-- Unnamed (Checkbox) -->
          <div id="u25" class="ax_default checkbox">
            <label id="u25_input_label" for="u25_input" style="position: absolute; left: 0px;">
              <img id="u25_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u25.svg' %}"/>
              <div id="u25_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; Myfin</span></p>
              </div>
            </label>
            <input id="u25_input" type="checkbox" value="checkbox" name="sitelist_checkBox_myfin"/>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u26" class="ax_default image">
            <img id="u26_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u26.png' %}"/>
            <div id="u26_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Checkbox) -->
          <div id="u27" class="ax_default checkbox">
            <label id="u27_input_label" for="u27_input" style="position: absolute; left: 0px;">
              <img id="u27_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u27.svg' %}"/>
              <div id="u27_text" class="text ">
                <p style="font-size:13px;"><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; </span><span style="font-size:14px;">Kucoin</span></p>
              </div>
            </label>
            <input id="u27_input" type="checkbox" value="checkbox" name="sitelist_checkBox_kucoin"/>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u28" class="ax_default image">
            <img id="u28_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u28.png' %}"/>
            <div id="u28_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Checkbox) -->
          <div id="u29" class="ax_default checkbox">
            <label id="u29_input_label" for="u29_input" style="position: absolute; left: 0px;">
              <img id="u29_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u29.svg' %}"/>
              <div id="u29_text" class="text ">
                <p style="font-size:13px;"><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; </span><span style="font-size:14px;">Coinbase</span></p>
              </div>
            </label>
            <input id="u29_input" type="checkbox" value="checkbox" name="sitelist_checkBox_coinbase"/>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u30" class="ax_default image">
            <img id="u30_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u30.png' %}"/>
            <div id="u30_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Checkbox) -->
          <div id="u31" class="ax_default checkbox selected">
            <label id="u31_input_label" for="u31_input" style="position: absolute; left: 0px;">
              <img id="u31_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u31_selected.svg' %}"/>
              <div id="u31_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; Huobi</span></p>
              </div>
            </label>
            <input id="u31_input" type="checkbox" value="checkbox" name="sitelist_checkBox_huobi"/>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u32" class="ax_default image">
            <img id="u32_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u32.png' %}"/>
            <div id="u32_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <button id="load-button" type="submit" class="btn btn-primary" style="">
              <div id="u33" class="ax_default button">
                <div id="u33_div" class=""></div>
                <div id="u33_text" class="text ">
                  <p><span>Загрузить данные</span></p>
                </div>
              </div>
          </button>
      </form>

      <!-- Unnamed (Rectangle) -->
      <div id="u34" class="ax_default label">
        <div id="u34_div" class=""></div>
        <div id="u34_text" class="text ">
          <p><span>Информация по котировкам</span></p>
        </div>
      </div>

      <!-- Unnamed (Table) -->
      <div id="u35" class="ax_default">

        <!-- Unnamed (Table Cell) -->
        <div id="u36" class="ax_default table_cell">
          <img id="u36_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u36.png' %}"/>
          <div id="u36_text" class="text ">
            <p><span>Торговая площадка</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u37" class="ax_default table_cell">
          <img id="u37_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u37.png' %}"/>
          <div id="u37_text" class="text ">
            <p><span>Валютная пара</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u38" class="ax_default table_cell">
          <img id="u38_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u38.png' %}"/>
          <div id="u38_text" class="text ">
            <p><span>Котировка</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u39" class="ax_default table_cell">
          <img id="u39_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u39.png' %}"/>
          <div id="u39_t" class="text ">
            <p id="u39_p"></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u40" class="ax_default table_cell">
          <img id="u40_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u40.png' %}"/>
          <div id="u40_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u41" class="ax_default table_cell">
          <img id="u41_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u41.png' %}"/>
          <div id="u41_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u42" class="ax_default table_cell">
          <img id="u42_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u39.png' %}"/>
          <div id="u42_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u43" class="ax_default table_cell">
          <img id="u43_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u40.png' %}"/>
          <div id="u43_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u44" class="ax_default table_cell">
          <img id="u44_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u41.png' %}"/>
          <div id="u44_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u45" class="ax_default table_cell">
          <img id="u45_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u39.png' %}"/>
          <div id="u45_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u46" class="ax_default table_cell">
          <img id="u46_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u40.png' %}"/>
          <div id="u46_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u47" class="ax_default table_cell">
          <img id="u47_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u41.png' %}"/>
          <div id="u47_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u48" class="ax_default table_cell">
          <img id="u48_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u39.png' %}"/>
          <div id="u48_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u49" class="ax_default table_cell">
          <img id="u49_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u40.png' %}"/>
          <div id="u49_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u50" class="ax_default table_cell">
          <img id="u50_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u41.png' %}"/>
          <div id="u50_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u51" class="ax_default table_cell">
          <img id="u51_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u39.png' %}"/>
          <div id="u51_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u52" class="ax_default table_cell">
          <img id="u52_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u40.png' %}"/>
          <div id="u52_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u53" class="ax_default table_cell">
          <img id="u53_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u41.png' %}"/>
          <div id="u53_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u54" class="ax_default table_cell">
          <img id="u54_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u39.png' %}"/>
          <div id="u54_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u55" class="ax_default table_cell">
          <img id="u55_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u40.png' %}"/>
          <div id="u55_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u56" class="ax_default table_cell">
          <img id="u56_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u41.png' %}"/>
          <div id="u56_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u57" class="ax_default table_cell">
          <img id="u57_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u57.png' %}"/>
          <div id="u57_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u58" class="ax_default table_cell">
          <img id="u58_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u58.png' %}"/>
          <div id="u58_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u59" class="ax_default table_cell">
          <img id="u59_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u59.png' %}"/>
          <div id="u59_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u60" class="ax_default label">
        <div id="u60_div" class=""></div>
        <div id="u60_text" class="text ">
          <p><span>Выставленные ордеры</span></p>
        </div>
      </div>

      <!-- Unnamed (Table) -->
      <div id="u61" class="ax_default">

        <!-- Unnamed (Table Cell) -->
        <div id="u62" class="ax_default table_cell">
          <img id="u62_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u62.png' %}"/>
          <div id="u62_text" class="text ">
            <p><span>Тип ордера/</span></p><p><span>ID ордера</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u63" class="ax_default table_cell">
          <img id="u63_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u62.png' %}"/>
          <div id="u63_text" class="text ">
            <p><span>Валютная пара</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u64" class="ax_default table_cell">
          <img id="u64_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u62.png' %}"/>
          <div id="u64_text" class="text ">
            <p><span>Количество</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u65" class="ax_default table_cell">
          <img id="u65_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u62.png' %}"/>
          <div id="u65_text" class="text ">
            <p><span>Цена</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u66" class="ax_default table_cell">
          <img id="u66_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u62.png' %}"/>
          <div id="u66_text" class="text ">
            <p><span>Криптобиржа</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u67" class="ax_default table_cell">
          <img id="u67_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u67.png' %}"/>
          <div id="u67_text" class="text ">
            <p><span>Статус ордера</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u68" class="ax_default table_cell">
          <img id="u68_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u68.png' %}"/>
          <div id="u68_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u69" class="ax_default table_cell">
          <img id="u69_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u68.png' %}"/>
          <div id="u69_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u70" class="ax_default table_cell">
          <img id="u70_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u68.png' %}"/>
          <div id="u70_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u71" class="ax_default table_cell">
          <img id="u71_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u68.png' %}"/>
          <div id="u71_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u72" class="ax_default table_cell">
          <img id="u72_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u68.png' %}"/>
          <div id="u72_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u73" class="ax_default table_cell">
          <img id="u73_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u73.png' %}"/>
          <div id="u73_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u74" class="ax_default table_cell">
          <img id="u74_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u68.png' %}"/>
          <div id="u74_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u75" class="ax_default table_cell">
          <img id="u75_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u68.png' %}"/>
          <div id="u75_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u76" class="ax_default table_cell">
          <img id="u76_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u68.png' %}"/>
          <div id="u76_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u77" class="ax_default table_cell">
          <img id="u77_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u68.png' %}"/>
          <div id="u77_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u78" class="ax_default table_cell">
          <img id="u78_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u68.png' %}"/>
          <div id="u78_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u79" class="ax_default table_cell">
          <img id="u79_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u73.png' %}"/>
          <div id="u79_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u80" class="ax_default table_cell">
          <img id="u80_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u68.png' %}"/>
          <div id="u80_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u81" class="ax_default table_cell">
          <img id="u81_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u68.png' %}"/>
          <div id="u81_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u82" class="ax_default table_cell">
          <img id="u82_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u68.png' %}"/>
          <div id="u82_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u83" class="ax_default table_cell">
          <img id="u83_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u68.png' %}"/>
          <div id="u83_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u84" class="ax_default table_cell">
          <img id="u84_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u68.png' %}"/>
          <div id="u84_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u85" class="ax_default table_cell">
          <img id="u85_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u73.png' %}"/>
          <div id="u85_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u86" class="ax_default table_cell">
          <img id="u86_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u68.png' %}"/>
          <div id="u86_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u87" class="ax_default table_cell">
          <img id="u87_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u68.png' %}"/>
          <div id="u87_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u88" class="ax_default table_cell">
          <img id="u88_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u68.png' %}"/>
          <div id="u88_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u89" class="ax_default table_cell">
          <img id="u89_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u68.png' %}"/>
          <div id="u89_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u90" class="ax_default table_cell">
          <img id="u90_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u68.png' %}"/>
          <div id="u90_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u91" class="ax_default table_cell">
          <img id="u91_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u73.png' %}"/>
          <div id="u91_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u92" class="ax_default table_cell">
          <img id="u92_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u92.png' %}"/>
          <div id="u92_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u93" class="ax_default table_cell">
          <img id="u93_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u92.png' %}"/>
          <div id="u93_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u94" class="ax_default table_cell">
          <img id="u94_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u92.png' %}"/>
          <div id="u94_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u95" class="ax_default table_cell">
          <img id="u95_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u92.png' %}"/>
          <div id="u95_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u96" class="ax_default table_cell">
          <img id="u96_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u92.png' %}"/>
          <div id="u96_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u97" class="ax_default table_cell">
          <img id="u97_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u97.png' %}"/>
          <div id="u97_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u98" class="ax_default line">
        <img id="u98_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u98.svg' %}"/>
        <div id="u98_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u99" class="ax_default label">
        <div id="u99_div" class=""></div>
        <div id="u99_text" class="text ">
          <p><span>Панель настроек</span></p>
        </div>
      </div>

      <!-- Lable_parsRefreshTime (Rectangle) -->
      <div id="u100" class="ax_default label disabled" data-label="Lable_parsRefreshTime">
        <div id="u100_div" class="disabled"></div>
        <div id="u100_text" class="text ">
          <p><span>Время обновления данных парсеров</span></p>
        </div>
      </div>

      <!-- Unnamed (Checkbox) -->
      <div id="u101" class="ax_default checkbox">
        <label id="u101_input_label" for="u101_input" style="position: absolute; left: 0px;">
          <img id="u101_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u101.svg' %}"/>
          <div id="u101_text" class="text ">
            <p><span>Включение телеграмм-бота</span></p>
          </div>
        </label>
        <input id="u101_input" type="checkbox" value="checkbox" name="settings_checkBox_telegramBot"/>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u102" class="ax_default droplist disabled">
        <div id="u102_div" class="disabled"></div>
        <select id="u102_input" class="u102_input" name="autoTradeSettings_dropList_exchangeType" disabled>
          <option class="u102_input_option" value="Huobi">Huobi</option>
          <option class="u102_input_option" value="Kucoin">Kucoin</option>
        </select>
      </div>

      <!-- checkBox_parsRefreshTime (Dynamic Panel) -->
      <div id="u103" class="ax_default" data-label="checkBox_parsRefreshTime">
        <div id="u103_state0" class="panel_state" data-label="Disabled" style="">
          <div id="u103_state0_content" class="panel_state_content">

            <!-- Unnamed (Checkbox) -->
            <div id="u104" class="ax_default checkbox">
              <label id="u104_input_label" for="u104_input" style="position: absolute; left: 0px;">
                <img id="u104_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u104.svg' %}"/>
                <div id="u104_text" class="text ">
                  <p><span>Циклическое обновление</span></p>
                </div>
              </label>
              <input id="u104_input" type="checkbox" value="checkbox" name="settings_checkBox_autoRefresh"/>
            </div>
          </div>
        </div>
        <div id="u103_state1" class="panel_state" data-label="Enabled" style="visibility: hidden;">
          <div id="u103_state1_content" class="panel_state_content">

            <!-- Unnamed (Checkbox) -->
            <div id="u105" class="ax_default checkbox">
              <label id="u105_input_label" for="u105_input" style="position: absolute; left: 0px;">
                <img id="u105_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u104.svg' %}"/>
                <div id="u105_text" class="text ">
                  <p><span>Циклическое обновление</span></p>
                </div>
              </label>
              <input id="u105_input" type="checkbox" value="checkbox"/>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u106" class="ax_default label">
        <div id="u106_div" class=""></div>
        <div id="u106_text" class="text ">
          <p><span>Выбор валют</span></p>
        </div>
      </div>

      <!-- label_quotCoinInfo (Rectangle) -->
      <div id="u107" class="ax_default label" data-label="label_quotCoinInfo">
        <div id="u107_div" class=""></div>
        <div id="u107_text" class="text ">
          <p><span>Котируемая валюта</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u108" class="ax_default label">
        <div id="u108_div" class=""></div>
        <div id="u108_text" class="text ">
          <p><span>Базовая валюта</span></p>
        </div>
      </div>

      <!-- droplist_quotCoin (Droplist) -->
      <div id="u109" class="ax_default droplist" data-label="droplist_quotCoinInfo">
        <div id="u109_div" class=""></div>
        <select id="u109_input" class="u109_input" name="settings_droplist_quotCoin">
          <option class="u109_input_option" value="XRP">XRP</option>
          <option class="u109_input_option" value="BTC">BTC</option>
        </select>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u110" class="ax_default droplist">
        <div id="u110_div" class=""></div>
        <select id="u110_input" class="u110_input" name="settings_droplist_baseCoin">
          <option class="u110_input_option" value="RUB">RUB</option>
          <option class="u110_input_option" value="USD">USD</option>
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u111" class="ax_default button">
        <div id="u111_div" class=""></div>
        <div id="u111_text" class="text ">
          <p><span>Ввести ключи API</span></p>
        </div>
      </div>

      <!-- settings_textInp_quotCoinSearch (Text Field) -->
      <div id="u112" class="ax_default text_field" data-label="settings_textInp_quotCoinSearch">
        <div id="u112_div" class=""></div>
        <input id="u112_input" type="text" value="" class="u112_input" name="settings_textInp_quotCoinSearch"/>
      </div>

      <!-- settings_label_quotCoinSearch (Rectangle) -->
      <div id="u113" class="ax_default label" data-label="settings_label_quotCoinSearch">
        <div id="u113_div" class=""></div>
        <div id="u113_text" class="text ">
          <p><span>Поиск по названию котируемой валюты</span></p>
        </div>
      </div>

      <!-- settings_button_quotCoinSearch (Rectangle) -->
      <button id="settings_quotCoinSearch-button" type="submit" class="btn btn-primary" style="">
          <div id="u114" class="ax_default button" data-label="settings_button_quotCoinSearch">
            <div id="u114_div" class=""></div>
            <div id="u114_text" class="text ">
              <p><span>Поиск</span></p>
            </div>
          </div>
      </button>

      <!-- settings_button_addQuotCoin (Rectangle) -->
      <button id="settings_quotCoinAdd-button" type="submit" class="btn btn-primary" style="">
          <div id="u115" class="ax_default button" data-label="settings_button_addQuotCoin">
            <div id="u115_div" class=""></div>
            <div id="u115_text" class="text ">
              <p><span>Добавить валюту</span></p>
            </div>
          </div>
      </button>

      <!-- settings_button_deleteQuotCoin (Rectangle) -->
      <button id="settings_quotCoinDelete-button" type="submit" class="btn btn-primary" style="">
          <div id="u116" class="ax_default button" data-label="settings_button_deleteQuotCoin">
            <div id="u116_div" class=""></div>
            <div id="u116_text" class="text ">
              <p><span>Удалить валюту</span></p>
            </div>
          </div>
      </button>


      <!-- Unnamed (Line) -->
      <div id="u117" class="ax_default line">
        <img id="u117_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u117.svg' %}"/>
        <div id="u117_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- checkBox_viewAllquotations (Checkbox) -->
      <div id="u118" class="ax_default checkbox" data-label="checkBox_viewAllquotations">
        <label id="u118_input_label" for="u118_input" style="position: absolute; left: 0px;">
          <img id="u118_img" class="img " src="{% static 'app_mainpage/images/mainwindow/checkbox_viewallquotations_u118.svg' %}"/>
          <div id="u118_text" class="text ">
            <p><span>Отображать все котировки</span></p>
          </div>
        </label>
        <input id="u118_input" type="checkbox" value="checkbox" name="settings_checkBox_allQuotationView"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u119" class="ax_default label">
        <div id="u119_div" class=""></div>
        <div id="u119_text" class="text ">
          <p><span>Настройки автоматической торговли</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u120" class="ax_default label">
        <div id="u120_div" class=""></div>
        <div id="u120_text" class="text ">
          <p><span>Криптобиржа</span></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u121" class="ax_default droplist disabled">
        <div id="u121_div" class="disabled"></div>
        <select id="u121_input" class="u121_input" name="autoTradeSettings_dropList_dealType" disabled>
          <option class="u121_input_option" value="Покупка">Покупка</option>
          <option class="u121_input_option" value="Продажа">Продажа</option>
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u122" class="ax_default label">
        <div id="u122_div" class=""></div>
        <div id="u122_text" class="text ">
          <p><span>Вид сделки</span></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u123" class="ax_default droplist disabled">
        <div id="u123_div" class="disabled"></div>
        <select id="u123_input" class="u123_input" name="autoTradeSettings_dropList_orderType" disabled>
          <option class="u123_input_option" value="Лимитный">Лимитный</option>
          <option class="u123_input_option" value="Рыночный">Рыночный</option>
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u124" class="ax_default label">
        <div id="u124_div" class=""></div>
        <div id="u124_text" class="text ">
          <p><span>Тип ордера</span></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u125" class="ax_default droplist disabled">
        <div id="u125_div" class="disabled"></div>
        <select id="u125_input" class="u125_input" name="autoTradeSettings_dropList_tradeQuotCoin" disabled>
          <option class="u125_input_option" value="XRP">XRP</option>
          <option class="u125_input_option" value="BTC">BTC</option>
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u126" class="ax_default label">
        <div id="u126_div" class=""></div>
        <div id="u126_text" class="text ">
          <p><span>Котируемая валюта</span></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u127" class="ax_default droplist disabled">
        <div id="u127_div" class="disabled"></div>
        <select id="u127_input" class="u127_input" name="autoTradeSettings_dropList_tradeBaseCoin" disabled>
          <option class="u127_input_option" value="USDT">USDT</option>
          <option class="u127_input_option" value="USD">USD</option>
          <option class="u127_input_option" value="RUB">RUB</option>
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u128" class="ax_default label">
        <div id="u128_div" class=""></div>
        <div id="u128_text" class="text ">
          <p><span>Базовая валюта</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u129" class="ax_default label">
        <div id="u129_div" class=""></div>
        <div id="u129_text" class="text ">
          <p><span>Кол-во валюты</span></p>
        </div>
      </div>

      <!-- Unnamed (spinbox) -->

      <!-- Numbers (Text Field) -->
      <div id="u131" class="ax_default text_field disabled" data-label="Numbers">
        <div id="u131_div" class="disabled"></div>
        <input id="u131_input" type="text" value="0" class="u131_input" name="autoTradeSettings_spinBox_buyAmount" disabled/>
      </div>

      <!-- Plus (Dynamic Panel) -->
      <div id="u132" class="ax_default" data-label="Plus">
        <div id="u132_state0" class="panel_state" data-label="Active" style="">
          <div id="u132_state0_content" class="panel_state_content">

            <!-- Unnamed (Shape) -->
            <div id="u133" class="ax_default icon disabled">
              <img id="u133_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u133.svg' %}"/>
              <div id="u133_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u132_state1" class="panel_state" data-label="Disable" style="visibility: hidden;">
          <div id="u132_state1_content" class="panel_state_content">

            <!-- Unnamed (Shape) -->
            <div id="u134" class="ax_default icon disabled">
              <img id="u134_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u134.svg' %}"/>
              <div id="u134_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Minus (Dynamic Panel) -->
      <div id="u135" class="ax_default" data-label="Minus">
        <div id="u135_state0" class="panel_state" data-label="Disable" style="">
          <div id="u135_state0_content" class="panel_state_content">

            <!-- Unnamed (Shape) -->
            <div id="u136" class="ax_default icon disabled">
              <img id="u136_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u136.svg' %}"/>
              <div id="u136_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u135_state1" class="panel_state" data-label="Active" style="visibility: hidden;">
          <div id="u135_state1_content" class="panel_state_content">

            <!-- Unnamed (Shape) -->
            <div id="u137" class="ax_default icon disabled">
              <img id="u137_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u137.svg' %}"/>
              <div id="u137_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="u130" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u138" class="ax_default label">
        <div id="u138_div" class=""></div>
        <div id="u138_text" class="text ">
          <p><span>Цена валюты</span></p>
        </div>
      </div>

      <!-- Unnamed (spinbox) -->

      <!-- Numbers (Text Field) -->
      <div id="u140" class="ax_default text_field disabled" data-label="Numbers">
        <div id="u140_div" class="disabled"></div>
        <input id="u140_input" type="text" value="0" class="u140_input" name="autoTradeSettings_spinBox_currencyPrice" disabled/>
      </div>

      <!-- Plus (Dynamic Panel) -->
      <div id="u141" class="ax_default" data-label="Plus">
        <div id="u141_state0" class="panel_state" data-label="Active" style="">
          <div id="u141_state0_content" class="panel_state_content">

            <!-- Unnamed (Shape) -->
            <div id="u142" class="ax_default icon disabled">
              <img id="u142_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u133.svg' %}"/>
              <div id="u142_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u141_state1" class="panel_state" data-label="Disable" style="visibility: hidden;">
          <div id="u141_state1_content" class="panel_state_content">

            <!-- Unnamed (Shape) -->
            <div id="u143" class="ax_default icon disabled">
              <img id="u143_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u134.svg' %}"/>
              <div id="u143_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Minus (Dynamic Panel) -->
      <div id="u144" class="ax_default" data-label="Minus">
        <div id="u144_state0" class="panel_state" data-label="Disable" style="">
          <div id="u144_state0_content" class="panel_state_content">

            <!-- Unnamed (Shape) -->
            <div id="u145" class="ax_default icon disabled">
              <img id="u145_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u136.svg' %}"/>
              <div id="u145_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u144_state1" class="panel_state" data-label="Active" style="visibility: hidden;">
          <div id="u144_state1_content" class="panel_state_content">

            <!-- Unnamed (Shape) -->
            <div id="u146" class="ax_default icon disabled">
              <img id="u146_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u137.svg' %}"/>
              <div id="u146_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="u139" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Checkbox) -->
      <div id="u147" class="ax_default checkbox disabled">
        <label id="u147_input_label" for="u147_input" style="position: absolute; left: 0px;">
          <img id="u147_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u147_disabled.svg' %}"/>
          <div id="u147_text" class="text ">
            <p><span>Включить имитацию торговли</span></p>
          </div>
        </label>
        <input id="u147_input" type="checkbox" value="checkbox" name="autoTradeSettings_checkBox_enableImitatitonTrade" />
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u148" class="ax_default button disabled">
        <div id="u148_div" class="disabled"></div>
        <div id="u148_text" class="text ">
          <p><span>Настроить и запустить трейд-бота</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u149" class="ax_default button disabled">
        <div id="u149_div" class="disabled"></div>
        <div id="u149_text" class="text ">
          <p><span>Запросить баланс</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
       <button id="autoTradeSettings_button_placeOrder" type="submit" class="btn btn-primary" style="">
          <div id="u150" class="ax_default button disabled">
            <div id="u150_div" class="disabled"></div>
            <div id="u150_text" class="text ">
              <p><span>Разместить ордер</span></p>
            </div>
          </div>
       </button>

      <!-- Unnamed (Rectangle) -->
      <div id="u151" class="ax_default button">
        <div id="u151_div" class=""></div>
        <div id="u151_text" class="text ">
          <p><span>Отменить ордер</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u152" class="ax_default button">
        <img id="u152_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u152.svg' %}"/>
        <div id="u152_text" class="text ">
          <p><span>Загрузить историю ордеров</span></p>
        </div>
      </div>

      <!-- settings_applyParsRefreshTime_button (Rectangle) -->
      <button id="settings_applyParsRefreshTime_button" type="submit" class="btn btn-primary" style="">
          {% csrf_token %}
          <div id="u153" class="ax_default button" data-label="settings_applyParsRefreshTime_button">
            <div id="u153_div" class=""></div>
            <div id="u153_text" class="text ">
              <p><span>Установить</span></p>
            </div>
          </div>
      </button>

      <!-- Unnamed (Group) -->
      <div id="u154" class="ax_default" data-left="1052" data-top="158" data-width="61" data-height="14">

        <!-- Numbers_parsRefreshTime (Text Field) -->
        <div id="u155" class="ax_default text_field disabled" data-label="Numbers_parsRefreshTime">
          <div id="u155_div" class="disabled"></div>
          <input id="u155_input" type="text" value="0" class="u155_input" name="settings_spinBox_parsRefreshTime" disabled/>
        </div>

        <!-- Plus_parsRefreshTime (Dynamic Panel) -->
        <div id="u156" class="ax_default" data-label="Plus_parsRefreshTime">
          <div id="u156_state0" class="panel_state" data-label="Active" style="">
            <div id="u156_state0_content" class="panel_state_content">

              <!-- Unnamed (Shape) -->
              <div id="u157" class="ax_default icon disabled">
                <img id="u157_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u133.svg' %}"/>
                <div id="u157_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <div id="u156_state1" class="panel_state" data-label="Disable" style="visibility: hidden;">
            <div id="u156_state1_content" class="panel_state_content">

              <!-- Unnamed (Shape) -->
              <div id="u158" class="ax_default icon disabled">
                <img id="u158_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u134.svg' %}"/>
                <div id="u158_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Minus_parsRefreshTime (Dynamic Panel) -->
        <div id="u159" class="ax_default" data-label="Minus_parsRefreshTime">
          <div id="u159_state0" class="panel_state" data-label="Disable" style="">
            <div id="u159_state0_content" class="panel_state_content">

              <!-- Unnamed (Shape) -->
              <div id="u160" class="ax_default icon disabled">
                <img id="u160_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u136.svg' %}"/>
                <div id="u160_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <div id="u159_state1" class="panel_state" data-label="Active" style="visibility: hidden;">
            <div id="u159_state1_content" class="panel_state_content">

              <!-- Unnamed (Shape) -->
              <div id="u161" class="ax_default icon disabled">
                <img id="u161_img" class="img " src="{% static 'app_mainpage/images/mainwindow/u137.svg' %}"/>
                <div id="u161_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'app_mainpage/resources/scripts/axure/ios.js' %}"></script>
  </body>
</html>
