<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
     $(function() {
      $('sitelist_form').submit(function(e) {
        let $form = $(this);
        $.ajax({
            type: $form.attr('method'),
            url: $form.attr('action'),
            data: $form.serialize(),
            dataType: "json",
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            success: function (response) {
              console.log('Пиздец!!')
            },
        });
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
      });
    });
    </script>
    <span>Привет!</span>
</body>
</html>