<!DOCTYPE html>
  <body>
    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">Регистрация пользователя</h3>
        <form method="POST" action="" style="">
          <div class="form-group">
              <div><label>Логин</label></div>
              <input type="text" class="form-control" style="width: 200.111px;" name="login" required>
              <div><label>Пароль</label></div>
              <input type="text" class="form-control" style="width: 200.111px;" name="password" required>
              <div><label>Имя</label></div>
              <input type="text" class="form-control" style="width: 200.111px;" name="name" required>
              <div><label>E-mail</label></div>
              <input type="text" class="form-control" style="width: 200.111px;" name="email" required>
          </div>
          <h4 class="text-muted"></h4>
          {% csrf_token %}
          <button type="submit" class="btn btn-primary" style="">Зарегистрироваться</button>
        </form>
        <h3>{{ text }}</h3>
      </div>
      <div class="row marketing"></div>
    </div> <!-- /container -->
  </body>
</html>